@import url("http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext");
html, body {
	height: 100%;
	overflow: hidden;
	margin: 0;
}
body {
	font-family: Lato, Arial, sans-serif;
	color: black
}
h1 {
	font-size: 1.5em;
	margin: 0;
}
.container {
	height: 100vh;
	max-width: 80%;
	margin: 0 auto;
	display: -webkit-flex;
	display: flex;
	overflow: hidden;
	align-items: stretch
}

.list, .list li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.list li {
	border-bottom: 1px solid #ddd;
	padding: 5px;
	line-height: 30px;
	transition: all 0.3s;
	cursor: pointer;
}
.list li[aria-selected="true"] {
	background-color: #0095dd;
	color: white;
}
.list li .name {
	font-weight: bold;
	display: block;
}
.sidebar {
	float: left;
	width: 275px;
	max-width: 100%;
	height: 100%;
	overflow: auto;
}
.content {
	float: right;
	-webkit-flex: 1;
	flex: 1;
	height: 100%;
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	margin-left: 50px;
}
.content iframe {
	border: none;
	-webkit-flex: 1;
	flex: 1
}